.idea/
__pycache__/
transcript.txt/
config.py
galvanic-botany-376415-1b464d71a294.json

7 Good Minutes Daily Self-Improvement Podcast/
Conan O’Brien Needs A Friend/
Dateline NBC/
Making Sense with Sam Harris/
Planet Money/
Prometheus Decoded/
random_clips/
SmartLess/
Split_Up_Podcast/
Stuff You Should Know/
The Daily/
The Stack Overflow Podcast/
The Take/
Up First/
Wait Wait... Don't Tell Me!/
Pivot/